html, body {
    overflow-x: hidden;
    max-width: 100%;
}

.main {
    background-color: var(--main-bg);
}
.add-task-page {
    margin: 110px 96px;

}

.page-title {
    font-size: 61px;
    margin-bottom: 48px;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.form-columns {
    display: flex;
    margin-bottom: 20px;
    height: 500px;
}

.form-column {
    flex: 1;
}

.form-column--left {
    display: flex;
    flex-direction: column;
}

.form-column--right {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;

}

.verticalline {
    width: 1px;
    background-color: #D1D1D1;
    margin: 0 36px;
    
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    margin-bottom: 10px;
}

.required {
    color: #FF8190;
}

.form-group .required {
    color: #FF8190;
    margin-left: 2px;
}

.form-group .error-msg {
    font-family: 'Poppins', sans-serif;
    color: #FF8190;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    margin-top: 5px;
}

.red-border {
    border-color: #FF8190 !important;
}

.input-default {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    padding: 12px 21px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.input-default::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.input-default:focus {
    border-color: #29ABE2;
    outline: none;
}

.input-custom-subtask {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    padding: 16px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.input-custom-subtask::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.input-custom-subtask:focus {
    border-color: #29ABE2;
    outline: none;
}

.textarea-default {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    padding: 12px 21px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.textarea-default::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.textarea-default:focus {
    border-color: #29ABE2;
    outline: none;
}

.input-container input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

.due-date {
    background: url(../assets/svg/add_task_calendar.svg);
    background-repeat: no-repeat;
    background-position: right 21px center;
    background-color: white;
}

.priority-options {
    display: flex;
    gap: 10px;
}

.prio-btn {
    flex: 1;
    padding: 10px 16px;
    height: 56px;
    width: 136px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}

.prio-btn.selected {
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}

.prio-btn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.prio-btn.selected .prio-icon img {
    filter: brightness(0) invert(1);
}

.prio-btn.selected[data-prio="urgent"] {
    background-color: #FF3D00;
    border-color: #FF3D00;
    color: #fff;
}

.prio-btn.selected[data-prio="medium"] {
    background-color: #FFA800;
    border-color: #FFA800;
    color: #fff;
}

.prio-btn.selected[data-prio="low"] {
    background-color: #7AE229;
    border-color: #7AE229;
    color: #fff;
}

.prio-icon {
    margin-left: 8px;
    display: flex;
}

.multiselect-container {
    position: relative;
    width: 100%;
}

.multiselect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    height: 48px;
    cursor: pointer;
    padding: 16px 12px;
}

.multiselect-input {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: black;
    width: 100%;
}

.multiselect-input::placeholder {
    color: black;
}

.multiselect-icon:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.multiselect-options {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.multiselect-options.assigned {
    position: absolute;
    z-index: 11;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 280px;
    overflow: auto;
}

.multiselect-option-contact {
    cursor: pointer;
    height: 56px;
    padding: 7px 16px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    border-radius: 10px;
}

.multiselect-option-contact:hover {
    background-color: #EEEEEE;
}

.multiselect-option-contact.selected {
    background-color: var(--primary-color);
    color: white;
}

.multiselect-option-contact.selected:hover {
    background-color: #091931;
    color: white;
}

.assigned-contacts {
    display: flex;
    gap: 8px;

}

.name-and-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid white;
    box-sizing: border-box;
}


.multiselect-option {
    cursor: pointer;
    padding: 16px 12px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
}

.multiselect-option:hover {
    background: rgba(0, 0, 0, 0.05);
}


.input-container {
    position: relative;
    width: 100%;
}

.buttons-box {
    position: absolute;
    top: 50%;
    right: 0px;
    padding-right: 12px;
    transform: translateY(-50%);
    display: flex;
}

.input-default-icon {
    cursor: pointer;
    position: static;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    object-fit: scale-down;

}

.input-default-icon:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.verticalline-subtask {
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 5px;
    height: auto;
}

.subtask-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    transition: background-color 0.3s ease;
}

.subtask-item:hover {
    background-color: #EEEEEE;
}

.subtask-actions {
    display: flex;
    gap: 8px;
}

.subtask-action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.subtask-action-icon:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.subtask-edit {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    padding: 4px 16px;
    border: none;
    border-bottom: 1px solid #29ABE2;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.input-container.edit {
    margin-top: 10px;
}

.form-actions-add-task {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.required-text {
    display: flex;
    align-items: flex-end;
}
.text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: black;
}

.form-action-buttons {
    display: flex;
    gap: 10px;
    padding-right: 1px;
}

.button-clear {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    padding: 16px;
    transition: all 100ms ease-in-out;
}

.button-clear:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: #29ABE2;
    color: #29ABE2;
}

.button-clear-img {
    display: flex;
    align-items: center;
    
}

.button-clear:hover img.button-clear-hover-img {
    display: block;
}

.button-clear:hover img.button-clear-standard-img {
    display: none;
}

.button-clear img.button-clear-hover-img {
    display: none;
}


.button-create-task {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #ccc;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: 700;
    padding: 16px;
    transition: all 100ms ease-in-out;
}

.button-create-task:disabled {
    background-color: #D1D1D1;
    border-color: #D1D1D1;
    color: white;
    cursor: not-allowed;
    opacity: 0.6;
}

.button-create-task:disabled:hover {
    box-shadow: none;
    background-color: #D1D1D1;
    border-color: #D1D1D1;
}

.button-create-task:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #29ABE2;
    border-color: #29ABE2;
}
