.main-board {
    height: 100%;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
}

.header-board {
    display: flex;
    flex-direction: column;
    padding: 80px 64px 0 64px;
}

.board-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board-search div h1 {
    font-size: 61px;
    color: var(--black);
}

.search-addtask {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
}

.search-wrapper-board {
    width: 312px;
    height: 48px;
    display: flex;
    flex-direction: row;
}

.search-board {
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: solid 1px var(--icons);
    padding: 8px 16px;
    padding-right: 64px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    outline: none;
}

.search-board:focus {
    border: solid 1px var(--secondary-color);
}

.search-board::placeholder {
    color: var(--style);
}

.separetor-board {
    position: relative;
    right: 48px;
    top: 8px;
    height: 32px;
    width: 0;
    border: solid 1px var(--style);

}

.button-search-board {
    position: relative;
    top: 2px;
    right: 33px;
    background: none;
    border: none;
    cursor: pointer;
}

.add-task-board {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 8px 16px;
    gap: 4px;
    border: 1px;
    cursor: pointer;
}

.no-results-div {
    position: absolute;
    top: 50px;
    left: 15px;
    color: var(--warning-color);
}

.add-task-board h2 {
    font-weight: 700;
    font-size: 21px;
    color: var(--white);
}

.add-task-board:hover {
    background-color: var(--secondary-color);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2.56251px 2.56251px 0px;
}

/* .tasks-board {
    width: 1208px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 64px;
    padding-right: 64px;
} */

.tasks-board {
    /* width: 1208px; */
    /* height: 72px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* padding-top: 48px; */
    /* padding-left: 64px; */
    /* padding-right: 64px; */
    padding: 48px 64px;
    gap: 26px;
}

/* .task-board {
    width: 244px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.task-board {
    /* width: 244px; */
    /* height: 24px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.task-board h3 {
    font-size: 20px;
    color: var(--primary-color);
}

.button-board {
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: white;
}

.button-board:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.column-divs {
    width: 1208px;
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding-left: 64px;
    padding-right: 64px;
}

.columns {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.columns-highlight {
    background-color: rgba(0, 0, 0, 0.1);
    border: dashed 1px var(--icons);
    border-radius: 10px 10px 24px 24px;    
}

.empty-task {
    width: 246px;
    height: 48px;
    border-radius: 10px;
    border: dashed 1px var(--icons);
    background-color: rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-task h3 {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    color: var(--icons);
}

.task-main {
    width: 252px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 16px;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.08);
}

.task-main:active {
  transform: rotate(5deg);
}

.category-board {
    width: fit-content;
    height: 27px;
    color: var(--white);
    border-radius: 8px;
    padding: 4px 16px;
}

.title-description-board {
    width: 220px;
    height: auto;
    gap: 8px;
    margin-bottom: 24px;
}

.title-board {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    padding-top: 24px;
}

.description-board {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
    font-size: 16px;
    font-weight: 400;
    color: var(--icons);
}

.subtasks-board {
    width: 220px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.subtasks-board h4 {
    font-size: 12px;
    font-weight: 400;
}

.initials-priority_board {
    width: 220px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.initials-board {
    display: flex;
    flex-direction: row;
}

.initials-single-board {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: solid 1px var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.initials-single-board h3 {
    font-family: inter;
    font-weight: 400;
    font-size: 12px;
    color: var(--white);
}

.priority-board {
    height: 32px;
    width: 32px;
}

.open-overlay-board {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.add-task-overlay {
    width: 1116px;
    height: 870px;
    background-color: var(--white);
    border-radius: 30px;
}

.open-task-overlay {
    width: 640px;
    max-height: 850px;
    padding: 48px 40px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideInRight 0.2s forwards;
}

.slide-out {
    animation: slideOutRight 0.2s forwards;
}

.task-added-board {
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1000;
}

.task-added-board h3 {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--white);
}

.open-task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.open-task-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
}

.close-button-open-task-board {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

.open-task-title {
    font-family: inter;
    font-weight: 700;
    font-size: 61px;
    color: var(--black);
}

.open-task-description {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

.open-task-date-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.open-task-text {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-color);
}

.open-task-date {
    border: none;
    background-color: transparent;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
}

.open-task-date::-webkit-calendar-picker-indicator {
    display: none;
}

.open-task-priority-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.open-task-priority {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
}

.open-task-priority img {
    width: 17px;
    height: auto;
    align-items: center;
}

.open-task-assigned-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.open-task-assigned {
    display: flex;
    gap: 4px;
}

.assigned-contact-open-task {
    padding-left: 26px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.assigned-contact-open-task div h3 {
    font-weight: 400;
    font-size: 12px;
}

.assigned-contact-open-task h3 {
    font-weight: 400;
    font-size: 19px;
}

.open-task-subtasks-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.open-task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.open-task-button {
    background-color: var(--white);
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    stroke-width: 1;
}

.open-task-button:hover {
    color: var(--secondary-color);
    stroke-width: 3;
}

.open-task-separetor {
    height: 24px;
    width: 0;
    border: solid 1px var(--style);
}

.open-task-subtasks-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtask-button-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 6px 16px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.subtask-button-board:hover {
    background-color: var(--no-task-bg);
}

.subtask-icon-board {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.subtask-button-board:hover .subtask-icon-board {
    background-color: var(--style);
    border-radius: 50%;
}

.subtask-button-board h3 {
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    padding: 0;
}

.edit-task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.edit-scroll-column {
    overflow: auto;
}

@media (max-width: 1140px){
    .add-task-overlay {
    width: 950px;
    max-height: 750px;
    }
}

@media (max-width: 980px){
    .add-task-overlay {
    width: 650px;
    max-height: 850px;
    }
}

@media (max-width: 720px){
    .open-task-overlay {
    width: 450px;
    max-height: 650px;
    padding: 10px 8px;
    border-radius: 15px;
    gap: 12px;
    }

    .open-task-main {
    gap: 12px;
    }

    .category-board {
    height: 25px;
    padding: 4px 8px;
    font-size: small;
    }

    .open-task-title {
    font-size: 28px;
    }
    
    .open-task-description {
    font-size: 15px;
    }

    .open-task-date-div {
    gap: 12px;
    }

    .open-task-text {
    font-size: 15px;
    }

    .open-task-date {
    font-size: 15px;
    }

    .open-task-priority-div {
    gap: 12px;
    }

    .open-task-priority {
    font-size: 15px;
    gap: 8px;
    }

    .open-task-assigned-div {
    gap: 4px;
    }

    .open-task-assigned {
    gap: 2px;
    }

    .initials-single-board {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    }

    .assigned-contact-open-task div h3 {
    font-size: 10px;
    }

    .assigned-contact-open-task h3 {
    font-size: 15px;
    }

    .open-task-subtasks-div {
    gap: 4px;
    }

    .subtask-button-board {
    gap: 8px;
    padding: 3px 8px;
    border-radius: 5px;
    }

    .subtask-button-board h3 {
    font-size: 12px;
    color: var(--black);
    }

    .open-task-buttons {
        padding-bottom: -5px;
    }

    .button-create-task{
        font-size: small;
    }

    .add-task-overlay {
    width: 320px;
    max-height: 550px;
    }
}

@media (max-width: 480px){
    .open-task-overlay {
    width: 370px;
    max-height: 560px;
    }
}

@media (max-width: 370px){
    .open-task-overlay {
    width: 310px;
    max-height: 500px;
    }
}