.legal_notice {
  padding: 60px 96px;
  /* overflow-y: auto; */
  /* height: 800px; */
  background-color: var(--white);
  flex: 1;
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 16px;
  font-size: 52px;
}

h2,
h3 {
  color: var(--dark-gray);
  font-weight: bold;
  padding-top: 16px;
}

p {
  color: var(--black);
}

.blue {
  color: var(--light-blue);
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}