:root {
  --logo-anim-start-pos-top: 50%;
  --logo-anim-start-pos-left: 50%;
  --logo-anim-start-width: 274px;
  --logo-anim-start-transform: translate(-50%, -50%);
  --logo-anim-bg-image: url('../assets/png/join_logo.png');
  --logo-position: 80px;
  --logo-width: 100px;
  --logo-aspect-ratio: 274/334;
  --animation-bg-color: white;
}

.main-login-signup {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  background-color: var(--animation-bg-color);
  animation: fadeOut 3s ease-in-out forwards;
  animation-delay: .5s;
  opacity: 1;
}

.animation-logo-cnt {
  z-index: 20;
  position: absolute;
  top: var(--logo-anim-start-pos-top);
  left: var(--logo-anim-start-pos-left);
  transform: var(--logo-anim-start-transform);
  width: var(--logo-anim-start-width);
  aspect-ratio: var(--logo-aspect-ratio);
  background-image: var(--logo-anim-bg-image);
  background-size: contain;
  background-repeat: no-repeat;
  animation: shrinkDiv 1.5s ease-in-out forwards;
  animation-delay: .5s;
}

.logo-cnt {
  position: absolute;
  top: var(--logo-position);
  left: var(--logo-position);

  & img {
    width: var(--logo-width);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    background-color: var(--animation-bg-color);
  }

  50% {
    opacity: 1;
    display: block;
    background-color: transparent;
  }

  90% {
    opacity: 1;
    display: block;
    background-color: transparent;
  }

  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
  }
}

@keyframes shrinkDiv {
  0% {
    top: var(--logo-anim-start-pos-top);
    left: var(--logo-anim-start-pos-left);
    transform: var(--logo-anim-start-transform);
    width: var(--logo-anim-start-width);
    background-image: var(--logo-anim-bg-image);
  }

  100% {
    top: var(--logo-position);
    left: var(--logo-position);
    transform: none;
    width: var(--logo-width);
    background-image: url('../assets/png/join_logo.png');
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-login {
  position: absolute;
  top: 68px;
  right: 122px;

  & span {
    padding-right: 36px;
    font-size: 21px;
  }
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.btn-primary {
  padding: 10px 35px;
  font-size: 21px;
  border: 1px solid var(--primary-color);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:enabled {
    opacity: 1;
    cursor: pointer;
  }
}

.btn-secondary {
  background-color: transparent;
  font-size: 21px;
  color: var(--primary-color);
  padding: 10px 35px;
  border: 1px solid var(--primary-color);

  &:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
  }
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.login-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 39px;
  padding: 48px 115px;
}

.login-signup-hdl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: clamp(48px, 8vw, 62px);
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background-color: var(--secondary-color);
    margin-top: 16px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.input-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-signup-input {
  width: 100%;
  padding: 12px 21px;
  padding-right: 46px;
  border: 1px solid var(--style);
  border-radius: 10px;
  font-size: 19px;

  &::placeholder {
    color: var(--style);
    font-size: 19px;
  }

  &:focus {
    outline: 1px solid var(--secondary-color);
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  color: var(--icons);
}

.input-icon-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  color: var(--icons);

  & .input-icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover img {
      transform: scale(1.2);
      filter: brightness(0.8);
    }

    & img {
      width: 24px;
      height: 24px;
      transition: all 0.125s ease-in-out;
    }
  }
}

.input-warning {
  position: absolute;
  top: 105%;
  left: 0px;
  font-size: 14px;
  color: var(--warning-color);
  z-index: 10;
}

.form-btn-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-top: 24px;
}

.footer-login-signup {
  position: absolute;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 0px;

  & a {
    color: var(--icons);
    font-size: 16px;

    &:hover {
      color: var(--secondary-color);
    }
  }
}


@media (max-width: 1024px) {
  :root {
    --logo-position: clamp(38px, 6vw, 60px);
    --logo-width: clamp(64px, 8vw, 80px);
  }
}

@media (max-width: 750px) {
  :root {
    --logo-anim-start-width: 200px;
    --animation-bg-color: var(--primary-color);
    --logo-anim-bg-image: url('../assets/png/join_logo_dark.png');
  }

  .header-login {
    top: auto;
    right: auto;
    bottom: 100px;
  }

  .login-signup {
    width: 80%;

    & .login-cnt {
      gap: 32px;
      padding: 32px 40px;
    }

    & .signup-cnt {
      padding: 32px 40px;
    }
  }
}

@media (max-width: 570px) {

  .login-signup,
  .w-600 {
    width: calc(100% - 32px);

    & .login-cnt,
    .signup-cnt {
      padding: 32px 16px;
    }
  }

  .form-btn-cnt {
    gap: 21px;

    & .btn {
      font-size: 16px;
      padding: 16px;
      width: 180px;
    }
  }
}

@media (max-width: 430px) {
  :root {
    --logo-anim-start-width: 100px;
  }

  .p-top-bottom-160 {
    padding: 160px 0;
  }

  .login-cnt {
    padding: 32px 16px;
  }

  .login-signup-input {
    padding: 12px;
    padding-right: 36px;
    border: 1px solid var(--style);
    border-radius: 10px;
    font-size: 19px;
  }

  .input-icon {
    right: 12px;
  }

  .input-icon-cnt {
    right: 12px;
  }

  .form-btn-cnt {
    flex-direction: column;
    padding-top: 8px;
  }

  .btn-primary {
    width: -webkit-fill-available;
  }

  .login-input {
    width: 100%;
  }

  .header-login {
    & span {
      font-size: 16px;
    }
  }

  .success-message {
    font-size: 18px;
  }

  .btn-back {
    left: 16px;
  }
}