.privacy_policy {
  /* overflow-y: auto; */
  padding: var(--main-padding);
  /* height: 800px; */
  flex: 1;
}

h1 {
  font-size: var(--h1-help-privacy-legal);
}

h2 {
  font-size: var(--h2-help-privacy-legal);
}

h3 {
  font-size: var(--h3-help-privacy-legal);
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 16px;
}

h2,
h3 {
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 16px;
}

p {
  color: #000100;
  margin-bottom: 16px;
}
