.sidebar {
  width: 194px;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 40px;
  text-decoration: none;
  color: var(--light-gray);
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.sidebar-link:hover {
  background-color: var(--nav-hover);
  color: var(--white);
}

.sidebar-link.active {
  background-color: var(--active);
  color: var(--white);
}

/* .sidebar-link img {
  fill: var(--white);
  width: 24px;
  height: 24px;
} */

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: var(--icons);
}

.sidebar-footer a {
  color: var(--icons);
  text-decoration: none;
  transition: color 0.2s;
}

.sidebar-footer a:hover {
  color: var(--white);
}

/* Footer-Nav */

.footer-nav-cnt {
  display: none;
  width: 100%;
  background-color: var(--primary-color);
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.footer-nav-link-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  & img {
    width: 32px;
    aspect-ratio: 1/1;
  }
}

.footer-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 80px;
  min-height: 76px;
  border-radius: 16px;
  /* gap: 8px; */
  padding: 16px 0px;
  text-decoration: none;
  color: var(--light-gray);
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--nav-hover);
    color: var(--white);
  }

  &.active {
    background-color: var(--active);
    color: var(--white);
  }
}


@media (max-width: 750px) {
  .mobile-hide {
    display: none;
  }

  .mobile-flex {
    display: flex;
  }
}

/* Footer Nav without User */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;

}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 80px;
  min-height: 76px;
  border-radius: 16px;
  text-decoration: none;
  color: var(--light-gray);
  font-size: 16px;
  gap: 8px;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--nav-hover);
    color: var(--white);
  }

  .login-icon {
    width: 17px;
    height: 17px;
  }
}

.footer-link-cnt {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;


  & a {
    padding: 16px 12px;
  }
}