.main-login {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--white);
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 1;
}

.logo-cnt {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shrinkDiv 1s ease-in-out forwards;
  animation-delay: .5s;

  & img {
    width: 274px;
    animation: shrinkImg 1s ease-in-out forwards;
    animation-delay: .5s;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes shrinkImg {
  from {
    width: 274px;
  }

  to {
    width: 100px;
  }
}

@keyframes shrinkDiv {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  to {
    top: 80px;
    left: 80px;
    transform: none;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 68px 122px;

  & span {
    padding-right: 36px;
    font-size: 21px;
  }
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
}

.btn-primary {
  padding: 10px 35px;
  font-size: 21px;
  border: 1px solid var(--primary-color);
}

.btn-secondary {
  background-color: transparent;
  font-size: 21px;
  color: var(--primary-color);
  padding: 10px 35px;
  border: 1px solid var(--primary-color);

  &:hover {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;

  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.login-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 39px;
  padding: 48px 115px;
}

.login-hdl-cnt {
  width: fit-content;
  border-bottom: 3px solid var(--secondary-color);
}

.login-hdl {
  font-size: 62px;
  padding-bottom: 16px;
  text-align: center;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.input-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-input {
  width: 442px;
  padding: 12px 21px;
  font-size: 20px;
  border: 1px solid var(--style);
  border-radius: 10px;
  font-size: 19px;

  &::placeholder {
    color: var(--style);
    font-size: 19px;
  }

  &:focus {
    outline: 1px solid var(--primary-color);
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  color: var(--icons);
}

.input-warning {
  position: absolute;
  top: 105%;
  left: 0px;
  font-size: 14px;
  color: var(--warning-color);
}

.form-btn-cnt {
  display: flex;
  /* align-self: stretch; */
  justify-content: center;
  align-items: center;
  gap: 35px;
  /* display: inline-flex; */
}

.footer-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 48px 0px;

  & a {
    color: var(--icons);
    font-size: 16px;
  }
}


@media (max-width: 430px) {
  .main-login {
    padding: 0 16px;
  }

  .login-cnt {
    padding: 32px 16px;
  }

  .form-btn-cnt {

    flex-direction: column;
  }

  .btn-primary {
    width: -webkit-fill-available;
  }

  .login-input {
    width: 100%;
  }
}