.btn-back {
  position: absolute;
  top: 64px;
  left: 48px;
  background-color: transparent;

  & .arrow-left {
    color: var(--secondary-color);
    transition: all 0.125s ease-in-out;
  }

  &:hover .arrow-left {
    transform: scale(1.2);
  }
}

.pos-rel {
  position: relative;
}

.w-600 {
  width: 600px;
}

.signup-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 48px 88px;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.accept-cnt {
  display: flex;
  align-items: center;
  padding-top: 14px;
  position: relative;

  & input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-110px);
  }

  & label {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
  }

  & .check-box-png {
    width: 24px;
    height: 24px;
    content: url('../assets/png/check_box.png');
    cursor: pointer;
  }

  & input[type="checkbox"]:checked+label .check-box-png {
    content: url('../assets/png/check_box_checked.png');
  }

  & span {
    font-size: 16px;
    color: var(--icons);

    & a {
      color: var(--secondary-color);

      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

.success-message-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color 0.5s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.success-message-cnt.active {
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.success-message {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 20px;
  padding: 25px;
  position: absolute;
  bottom: -100px;
  transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
  font-size: 20px;

  & span {
    white-space: nowrap;
  }
}

.success-message.show-message {
  bottom: 50%;
}