.summary_container {
  margin: 110px 96px;
}

.summary_headline {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  white-space: nowrap;
}

.summary_headline_title {
  font-weight: 700;
  font-size: 61px;
}

.summary_headline_line {
  height: 59px;
  width: 4px;
  background-color: var(--light-blue);
  border-radius: 3px;
}

.summary_headline_line_mobile {
  height: 4px;
  width: 90px;
  background-color: var(--light-blue);
  border-radius: 3px;
  display: none;
}

.summary_headline span {
  font-weight: 400;
  font-size: 27px;
}

.summary_content {
  display: flex;
}

.summary_content_left,
.summary_content_right {
  flex: 1;
}

.summary_content_left {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.summary_content_left_top_wrapper,
.summary_content_left_middle_wrapper,
.summary_content_left_bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary_button_width_264 {
  width: 264px;
}

.summary_button_width_560 {
  width: 560px;
}

.summary_button_width_168 {
  width: 168px;
}

.gap_16 {
  gap: 16px;
}

.padding_28_48 {
  padding: 28px 48px;
}

.summary_buttons {
  display: flex;
  height: 168px;

  align-items: center;
  justify-content: center;

  border: 1px solid gray;
  border-radius: 30px;

  transition: 125ms;
}

.summary_buttons:hover {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  scale: 1.05;
  cursor: pointer;
}

.summary_buttons:hover .circle {
    fill: var(--white);
}

.summary_buttons:hover .icon_path_fill {
    fill: var(--primary-color);
}

.summary_buttons:hover .icon_path_stroke {
    stroke: var(--primary-color);
}

.summary_image_wrapper {
  height: 70px;
  width: 70px;
}

.summary_bottons_amount_and_text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary_amount_font_weight_and_size {
  font-weight: 600;
  font-size: 64px;
}

.summary_text_font_weight_and_size {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.summary_urgent_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.summary_urgent_left {
  display: flex;
  align-items: center;
  flex: 0.85;
}

.summary_urgent_left img {
  height: 70px;
  width: 70px;
}

.summary_urgent_line {
  height: 102px;
  width: 2px;
  background-color: var(--style);
  border-radius: 2px;
}

.summary_urgent_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}

.summary_urgent_text_date {
  font-weight: 700;
  font-size: 21px;
}

.summary_urgent_text_info {
  font-weight: 400;
  font-size: 16px;
}

.summary_content_right_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}         

.summary_content_right_greeting {
  font-weight: 500;
  font-size: 47px;
  padding-left: 80px;
}

.summary_content_right_user {
  font-weight: 700;
  font-size: 64px;
  color: var(--light-blue);
}
