.summary_container {
    margin: 110px 96px;
    background-color: lightcoral;
}

.summary_wrapper {
    /* height: calc(100vh - 96px); */
    background-color: lightgray;
    /* padding: 64px 48px; */
}

.summary_headline {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 32px;
    background-color: antiquewhite;
}

.summary_headline_title {
    font-size: 56px;
}

.summary_headline_line {
    height: 59px;
    width: 4px;
    background-color: var(--light-blue);
    border-radius: 3px;
}

.summary_headline span {
    font-size: 24px;
}

.summary_content {
    display: flex;
    background-color: lightpink;
}

.summary_content_left,
.summary_content_right {
    flex: 1;
    /* padding: 10px; */
}

.summary_content_left {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;    
    gap: 28px;
}

.summary_content_left_top_wrapper,
.summary_content_left_middle_wrapper,
.summary_content_left_bottom_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.summary_button_width_264{
    width: 264px;
}

.summary_button_width_560{
    width: 560px;
}

.summary_button_width_168{
    width: 168px;
}

.gap_16 {
    gap: 16px;
}
/* .summary_content_left_top_wrapper div {
    width: 264px;
}

.summary_content_left_middle_wrapper div {
    width: 560px;
}

.summary_content_left_bottom_wrapper div {
    width: 168px;
} */


.summary_buttons {
    display: flex;
    /* flex: 1; */
    height: 168px;

    align-items: center;
    justify-content: center;

    border: 1px solid gray;
    border-radius: 25px;
}

.summary_bottons_amount_and_text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary_amount_font_weight_and_size {
    font-weight: 600;
    font-size: 64px;
}

.summary_text_font_weight_and_size {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* .summary_buttons_top {
    width: 264px;
} */

.summary_urgent_line {
    height: 102px;
    width: 2px;
    background-color: var(--light-blue);
}

.summary_content_right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}