@media (max-width: 1340px) {
    .summary_content_right {
        display: none;
    }
}

@media (max-width: 980px) {
    .summary_container {
        display: flex;
        justify-content: center;
        margin: 32px 0;
    }
}

@media (max-width: 670px) {
    .summary_wrapper {
        margin: 4px;
    }

    .summary_headline {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    
    .summary_headline_line {
        display: none;
    }

    .summary_headline_line_mobile {
        display: flex;
    }

    .summary_headline_title {
        font-size: 47px;
    }

    .summary_headline span {
        font-size: 20px;
    }

    .summary_buttons {
        height: 110px;
    }

    .gap_16 {
        gap: 10px;
    }

    .padding_28_48 {
        padding: 14px 24px;
    }

    .summary_urgent_left {
        justify-content: center;
    }

    .summary_image_wrapper {
        height: 40px;
        width: 40px;
    }

    .summary_image_wrapper svg {
        height: 40px;
        width: 40px;
    }

    .summary_urgent_left img {
        height: 40px;
        width: 40px;
    }

    .summary_counter_font_weight_and_size {
        font-size: 47px;
    }

    .summary_text_font_weight_and_size {
        font-size: 14px;
    }

    .summary_urgent_text_date {
        font-size: 16px;
    }

    .summary_urgent_text_info {
        font-size: 14px;
    }

    .summary_urgent_text_wrapper {
        gap: 8px
    }

    .summary_urgent_line {
        height: 68px;
    }
}

@media (max-width: 450px) {
    .summary_container {
        margin: 0;
    }

    .summary_content_left {
        gap: 16px;
    }

    .summary_urgent_wrapper {
        padding: 0;
        white-space: inherit;
    }

    .summary_content_left_top_wrapper,
    .summary_content_left_bottom_wrapper {
        gap: 16px;
    }
}

@media (max-width: 350px) {
    .summary_content_left {
        gap: 8px;
    }

    .summary_content_left_top_wrapper,
    .summary_content_left_bottom_wrapper {
        gap: 8px;
    }    
}