
C:\Users\Marc.Odermatt\Documents\Dev\join>git pull 
Already up to date.

C:\Users\Marc.Odermatt\Documents\Dev\join>git add . 

C:\Users\Marc.Odermatt\Documents\Dev\join>git commit -m "add_task - responsive basics not optimised." 
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   add_task.css

no changes added to commit (use "git add" and/or "git commit -a")

C:\Users\Marc.Odermatt\Documents\Dev\join>git push 
