* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter-v18-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-color: #2a3647;
  --secondary-color: #29abe2;
  --warning-color: #ff4d4f;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #647188;
  --light-blue: #29abe2;
  --style: #d1d1d1;
  --icons: #a8a8a8;
  --active: #090131;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.d-none {
  display: none !important;
}

.main-div {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left {
  width: 194px;
  background-color: #2f3c53;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0;
}

.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: calc(100% - 96px);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 10px;
  border: 2px solid var(--white);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/*Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) var(--white);
}