* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v18-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #2a3647;
  --secondary-color: #29abe2;
  --warning-color: #ff4d4f;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #cdcdcd;
  --dark-gray: #647188;
  --light-blue: #29abe2;
  --style: #d1d1d1;
  --icons: #a8a8a8;
  --nav-hover: rgba(255, 255, 255, 0.1);
  --active: #090131;
  --no-task-bg: #E7E7E7;
  --technical:#1FD7C1;
  --user:#0038FF;
  --header-padding: 20px 40px 20px 116px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.d-none {
  display: none !important;
}

.main-div {
  display: flex;
  height: 100vh;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.left {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0;
  flex: 0 0 232px;
}

.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* min-width: 0; */
  position: relative;
}

.main {
  width: 100%;
  height: calc(100% - 96px);
  overflow-y: auto;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  border-radius: 10px;
  border: 2px solid var(--white);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/*Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) var(--white);
}